.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    border: 3px solid black;
    margin: auto;
    padding: 25px;
    object-fit: contain;
    
}


.row {
    text-align: center;
    padding: 30px;
    margin: 10px;
    border: 3px solid black;
}





.btn-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin: 30px;
    
}